---
import Layout from "../layouts/Layout.astro";
import HeroSectionBlog from "../sections/blog/HeroSectionBlog.astro";
import WallSectionBlog from "../sections/blog/WallSectionBlog.astro";
---

<Layout
  title="Strony Internetowe dla Młodych Par | Nowinki w Branży Weselnej | Współpraca z Wedding Plannerami - Twoja Idealna Strona Ślubna"
  description="Tworzymy profesjonalne strony internetowe dla młodych par, współpracujemy z wedding plannerami i śledzimy najnowsze trendy w branży weselnej. Oferujemy wyjątkowe rozwiązania dla Twojej strony ślubnej."
  keywords="strony internetowe dla par, strony ślubne, wedding planner, nowinki weselne, projektowanie stron ślubnych, trendy weselne"
  robots="index, follow"
  url="https://www.strona-slubna.pl/blog"
  headerDark={true}
>
  <main>
    <HeroSectionBlog />
    <WallSectionBlog />
  </main>
</Layout>
