---
import Layout from "../layouts/Layout.astro";
import AbousUsSection from "../sections/AbousUsSection.astro";
import ContactSection from "../sections/ContactSection.astro";
import FAQSection from "../sections/FAQSection.astro";
import HeroSection from "../sections/HeroSection.astro";
import OpinionSection from "../sections/OpinionSection.astro";
import SiteModulesSection from "../sections/SiteModulesSection.astro";
---

<Layout
  title="Tworzenie Stron Ślubnych - Strona Weselna dla Młodej Pary"
  description="Oferujemy profesjonalne tworzenie stron ślubnych dla młodych par. Twoja strona weselna z informacjami o weselu, mapą dojazdu, potwierdzeniem przybycia, menu i układem stolików. Zaufaj naszemu doświadczeniu i stwórz wyjątkową stronę ślubną z TwojaFirma."
  keywords="strona ślubna, tworzenie stron ślubnych, strona weselna, informacje o weselu, mapa dojazdu na wesele, potwierdzenie przybycia na wesele, menu weselne, układ stolików, strona dla młodej pary, profesjonalne strony ślubne"
>
  <main>
    <HeroSection />
    <AbousUsSection />
    <SiteModulesSection />
    <OpinionSection />
    <ContactSection />
    <FAQSection />
  </main>
</Layout>

<style></style>
