---
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout title="Dziękujemy za przesłanie formularza" robots="noindex, nofollow">
  <main>Regulamin</main>
</Layout>
