---
import Logo from "../icons/Logo";
import AstroContainer from "./AstroContainer.astro";
import Nav from "./Nav";

interface Props {
  bgDark?: boolean;
}

const { bgDark = false } = Astro.props;
---

<header
  class=`absolute w-full flex justify-center py-4 h-20 ${bgDark && 'bg-creme/50'}  ${bgDark && 'backdrop-blur-md'}`
>
  <AstroContainer>
    <div class="relative">
      <a href="/" class="absolute left-1/2 -translate-x-1/2">
        <Logo />
      </a>
      <div class="absolute right-0 top-3 z-40">
        <Nav client:load />
      </div>
    </div>
  </AstroContainer>
</header>
