---
import AstroContainer from "../components/AstroContainer.astro";
import FlowerIcon from "../icons/FlowerIcon";
---

<section class="pt-24" id="o-nas">
  <AstroContainer>
    <div
      class="bg-white/80 border-[1.5rem] border-primary p-4 lg:p-6 flex flex-col items-center"
    >
      <FlowerIcon />
      <p
        class="text-primary text-cormorant text-xl lg:text-2xl lg:text-center py-12 lg:px-6"
      >
        Naszym celem jest tworzenie wyjątkowych, spersonalizowanych stron
        internetowych dla młodych par, które ułatwią im komunikację z gośćmi i
        uczynią ich ślub jeszcze bardziej niezapomnianym. Dążymy do tego, aby
        każda para mogła skupić się na celebrowaniu swojego wyjątkowego dnia,
        podczas gdy my zajmiemy się wszystkimi technicznymi szczegółami. Nasza
        misja to zapewnienie najwyższej jakości usług, indywidualnego podejścia
        i ciągłego wsparcia na każdym etapie planowania ślubu. Chcemy, aby nasze
        strony internetowe były odzwierciedleniem miłości i radości, które
        towarzyszą każdej uroczystości, pomagając młodym parom w tworzeniu
        pięknych wspomnień na całe życie
      </p>
    </div>
  </AstroContainer>
</section>
