---
import AstroContainer from "../components/AstroContainer.astro";
import ContactForm from "../components/ContactForm";
---

<section class="my-24 lg:my-32 text-primary">
  <AstroContainer>
    <div class="flex flex-col xl:flex-row gap-16">
      <div class="flex-1 lg:order-2">
        <h2 class="text-4xl lg:text-5xl">
          Masz pytania? Jesteśmy tu aby pomóc!
        </h2>
        <p class="pt-4 text-primary text-lg lg:text-xl">
          Zapraszamy do kontaktu poprzez formularz kontaktowy lub bezpośrednio
          przez e-mail. Odpowiemy najszybciej jak to molżliwe
        </p>
      </div>
      <div class="flex-1 lg:order-1">
        <ContactForm client:load />
      </div>
    </div>
  </AstroContainer>
</section>
