---
import AstroContainer from "../components/AstroContainer.astro";
import FAQ from "../components/FAQ";
---

<section class="mt-32 mb-44">
  <AstroContainer>
    <h2 class="text-4xl lg:text-5xl text-primary">
      Najczęściej zadawane pytania
    </h2>
    <FAQ client:load />
  </AstroContainer>
</section>
