---
import AstroContainer from "../components/AstroContainer.astro";
import OpinionStack from "../components/Opinions";

const OPINIONS = [
  {
    id: 0,
    name: "Kasia i Marek",
    designation: "",
    content:
      "Wsp贸praca z Agat bya prawdziw przyjemnoci. Jej profesjonalizm, wiedza o rynku nieruchomoci oraz zaanga偶owanie w ka偶d cz procesu sprzeda偶y byy imponujce. Dziki jej poradom udao nam si sprzeda nasz dom szybko i za satysfakcjonujc cen. Zawsze dostpna, zawsze pomocna - zdecydowanie polecam!",
  },
  {
    id: 1,
    name: "Klaudia",
    designation: "",
    content:
      "Agata okazaa si niezastpiona w poszukiwaniu naszego nowego mieszkania. Jej cierpliwo i wyrozumiao dla naszych wymaga byy godne podziwu. Zawsze miaa na uwadze nasze potrzeby i bud偶et, a dziki jej wiedzy udao nam si znale藕 idealne miejsce. Wsp贸praca bya bezproblemowa, a jej profesjonalizm sprawi, 偶e cay proces zakupu by mniej stresujcy. Gorco polecamy!",
  },
  {
    id: 2,
    name: "Marek",
    designation: "",
    content:
      "Agata to prawdziwa ekspertka w swojej dziedzinie. Jej zaanga偶owanie i dbao o szczeg贸y zrobiy na nas ogromne wra偶enie. Pomoga nam nie tylko w sprzeda偶y starego mieszkania, ale r贸wnie偶 w znalezieniu nowego domu, kt贸ry spenia wszystkie nasze oczekiwania. Bya zawsze dostpna, odpowiadaa na wszystkie nasze pytania i rozwiewaa wszelkie wtpliwoci. Wsp贸praca z ni to bya czysta przyjemno!",
  },
];
---

<section class="mt-32 mb-44">
  <AstroContainer>
    <h2 class="text-4xl lg:text-5xl text-primary">Opinie</h2>
    <div class="flex flex-col lg:flex-row py-8 gap-16 lg:gap-8">
      <div class="basis-1/2 flex items-center">
        <p class="lg:pr-14 text-primary">
          Z dum przedstawiamy opinie zadowolonych klient贸w, kt贸rzy skorzystali
          z naszych usug. Ich pozytywne dowiadczenia odzwierciedlaj nasz
          profesjonalizm, zaanga偶owanie i dogbn znajomo rynku
          nieruchomoci. Przeczytaj, jak wsp贸praca z nami pomoga im osign
          cele zwizane z kupnem, sprzeda偶 czy wynajmem nieruchomoci.
        </p>
      </div>
      <div class="basis-1/2">
        <OpinionStack items={OPINIONS} client:visible />
      </div>
    </div>
  </AstroContainer>
</section>
