---
import AstroContainer from "../components/AstroContainer.astro";
import OpinionStack from "../components/Opinions";

const OPINIONS = [
  {
    id: 0,
    name: "Kasia i Marek",
    designation: "",
    content:
      "Strona, którą stworzyli dla nas, była absolutnie piękna i funkcjonalna. Nasi goście byli zachwyceni łatwością nawigacji i wszystkimi przydatnymi informacjami, które umieściliśmy. Zespół był niezwykle pomocny i dostępny na każdym etapie. Serdecznie polecamy!",
  },
  {
    id: 1,
    name: "Anna i Paweł",
    designation: "",
    content:
      "Dzięki stronie od tej firmy mogliśmy bez problemu skontaktować się z naszymi gośćmi i przekazać im wszystkie niezbędne informacje. Wszystko było tak profesjonalnie zrobione, że nie mogliśmy sobie wymarzyć niczego lepszego. Dziękujemy za wspaniałą współpracę!",
  },
  {
    id: 2,
    name: "Martyna i Arek",
    designation: "",
    content:
      "Jesteśmy zachwyceni naszym ślubnym serwisem internetowym. Był nie tylko piękny, ale również bardzo intuicyjny w obsłudze. Nasi goście mieli wszystko pod ręką, a my czuliśmy się spokojni, wiedząc, że mogą łatwo znaleźć wszystkie informacje. Super obsługa i szybkie reakcje na nasze prośby!",
  },
  {
    id: 3,
    name: "Karolina i Łukasz",
    designation: "",
    content:
      "Nasza strona ślubna była strzałem w dziesiątkę! Wszystko było przejrzyste, estetyczne i łatwe do zarządzania. Nasi goście byli pod wrażeniem, a my mogliśmy skupić się na innych aspektach organizacji ślubu. Dziękujemy za wspaniałą pracę!",
  },
];
---

<section class="mt-32 mb-44">
  <AstroContainer>
    <h2 class="text-4xl lg:text-5xl text-primary">Opinie</h2>
    <div class="flex flex-col lg:flex-row py-8 gap-16 lg:gap-8">
      <div class="basis-1/2 flex items-center">
        <p class="lg:pr-14 text-primary text-lg lg:text-xl">
          Opinie naszych klientów są dla nas niezwykle ważne. To dzięki ich
          słowom możemy nieustannie doskonalić nasze usługi i dostarczać
          wyjątkowe strony ślubne, które spełniają najwyższe oczekiwania.
          Jesteśmy dumni z każdego projektu i z radością dzielimy się tymi
          pięknymi doświadczeniami.
        </p>
      </div>
      <div class="basis-1/2">
        <OpinionStack items={OPINIONS} client:visible />
      </div>
    </div>
  </AstroContainer>
</section>
