---
import AstroContainer from "../components/AstroContainer.astro";
import SiteModules from "../components/SiteModules";
---

<section class="my-24 lg:my-32">
  <AstroContainer>
    <h2 class="text-4xl lg:text-5xl text-primary">
      Co znajdziesz na swojej stronie ślubnej?
    </h2>
    <SiteModules />
  </AstroContainer>
</section>
