---
import AstroContainer from "../components/AstroContainer.astro";
import ContactForm from "../components/ContactForm";
---

<section
  class="my-24 lg:my-32 text-primary bg-dark-cream py-16 relative"
  id="obecnosc"
>
  <AstroContainer>
    <div class="flex flex-col lg:flex-row-reverse gap-16 items-center">
      <div class="flex-1 lg:order-2 text-left">
        <h2 class="text-4xl lg:text-5xl">Liczymy na twoją obecność</h2>
        <p class="pt-4 text-primary text-lg lg:text-xl">
          Prosimy uzupełnij króciótki formularz i poinformuj nas czy będziesz :)
        </p>
      </div>
      <div class="flex-1 lg:order-1">
        <ContactForm client:load />
      </div>
    </div>
  </AstroContainer>
  <div class="curve"></div>
</section>

<style>
  .curve {
    position: absolute;
    width: 90rem;
    min-width: 100vw;
    left: 50%;
    height: 10rem;
    border-radius: 50%;
    bottom: -5rem;
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
    transform: scale(1.5) translateX(-33.333%);
    background: var(--dark-cream);
  }
</style>
