---
import AstroContainer from "../components/AstroContainer.astro";
import { FlipWords } from "../components/FlipWords";
import WineIcon from "../components/icons/WineIcon";
import DressIcon from "../components/icons/DressIcon";
import SiteModules from "../components/SiteModules";


---

<section class="my-24 lg:my-32">
  <AstroContainer>
    <FlipWords
      className="text-4xl px-4 lg:text-5xl w-full text-left uppercase font-bold mb-16 text-primary"
      words={["Przed weselem pamiętaj"]}
      client:visible
    />
    <SiteModules></SiteModules>
  </AstroContainer>
</section>
