---
import "@fontsource/cormorant-upright";
import "@fontsource-variable/montserrat";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --primary: #6c4e3f;
  }

  body {
    overflow-x: hidden;
    font-family: "Montserrat Variable", sans-serif;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Cormorant Upright", serif;
  }

  .text-cormorant {
    font-family: "Cormorant Upright", serif;
  }

  .text-primary {
    color: var(--primary);
  }

  .bg-primary {
    background-color: var(--primary);
  }
</style>
